//* Normalize
/// Reset for default and custom stuff

@use './base/variables' as *;
@use './base/font-styles' as *;
@use './base/font-import' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  color: $text-color-primary;
  font-family: $font-family-body;
}

body {
  line-height: 1.75;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

// img,
// picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
label {
  font: inherit;
  appearance: none;
  outline: none;
  display: block;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

b,
strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

ul,
ol {
  list-style: none;
}

img,
textarea {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .h#{$i};
  }
}

p,
li,
span,
a,
button,
input,
label,
textarea,
select {
  @extend .paragraph;
}
