@use './base/variables' as *;
@use './base/content-width' as *;

.nav-main {
  @extend .content-width__content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    max-height: 4rem;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }

  &__item {
    list-style: none;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    &.active,
    &:hover {
      color: red;
    }
  }
}
