@use '../base/variables' as *;
@use '../mixins/responsive-utils' as *;
@use '../mixins/px-to-rem' as *;

.h {
  &1 {
    font-family: $font-family-headline;
    font-weight: $font-weight-regular;
    @include font-size('h1');
    line-height: 1.2;
  }
  &2 {
    font-family: $font-family-headline;
    font-weight: $font-weight-regular;
    @include font-size('h2');
    line-height: 1.2;
  }
  &3 {
    font-family: $font-family-headline;
    font-weight: $font-weight-regular;
    @include font-size('h3');
    line-height: 1.2;
  }
  &4 {
    font-family: $font-family-body;
    font-weight: $font-weight-bold;
    @include font-size('h4');
    line-height: 1.2;
  }
  &5 {
    font-family: $font-family-body;
    font-weight: $font-weight-bold;
    @include font-size('h5');
    line-height: 1.2;
  }
  &6 {
    font-family: $font-family-body;
    font-weight: $font-weight-bold;
    @include font-size('h6');
    line-height: 1.2;
  }
}

.paragraph {
  font-family: $font-family-body;
  font-weight: $font-weight-regular;
  line-height: 1.5;

  &--sm {
    @include font-size('body-sm');
  }

  &--md {
    @include font-size('body-md');
  }

  &--lg {
    @include font-size('body-lg');
  }

  &--xl {
    @include font-size('body-xl');
  }
}
